<link rel="stylesheet" href="/css/emp.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary user">
   
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item listi">
          <a class="nav-link linkl" href="/admin/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item listi">
          <a class="nav-link linkl" href="/admin/employees">Employees</a>
        </li>
        <li class="nav-item listi">
          <a class="nav-link linkl" href="/admin/transactions">Transactions</a>
        </li>
        <li class="nav-item listi active">
            <a class="nav-link linkl" href="/admin/history">History</a>
          </li>
        <li class="nav-item listi">
          <a class="nav-link linkl" href="/admin/attendence">Attendence</a>
        </li>

        <li class="nav-item listi">
          <a class="nav-link linkl" href="/">Sign out</a>
        </li>
        
        
      </ul>
      
    </div>
  </nav>


  <div class = "emp">
    <h1>
      Transaction History
    </h1>
  </div>
  <table class="table table-hover tableo">
    <thead>
      <tr>
        <th class = "ent1" scope="col">TId</th>
        <th class = "ent1" scope="col">EId</th>
        <th class = "ent1" scope="col">Amount</th>
        <th class = "ent1" scope="col">Month</th>
        
      </tr>
    </thead>
    <tbody>
      <% let det = ['R&D','Production','Marketing','Human Resource','Finance and Accounting'] %>
      <%for(let i =0;i<emp.length;i++){%>
      <tr class="table-secondary">
        <th class = "ent" scope="row"><%=emp[i].tid%></th>
        <td class = "ent"><%=emp[i].eid%></td>
        <td class = "ent"><%=emp[i].amount%></td>
        <td class = "ent"><%=emp[i].month%></td>
        
        
      </tr>
      <%}%>
      
    
    </tbody>
  </table> 
